@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Realitky.Models.Entity.User

<h1>Úprava uživatele @Model.name</h1>

<form asp-action="ProfileEdit">
    <div class="mb-3">
        <label asp-for="username">Uživatelské jméno</label>
        <input asp-for="username" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="name">Celé Jméno</label>
        <input asp-for="name" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="email">E-Mail</label>
        <input asp-for="email" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="phone">Telefoní číslo</label>
        <input asp-for="phone" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="avatar">Avatar</label>
        <input asp-for="avatar" class="form-control">
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Uložit</button>
    </div>
</form>