<div class="d-flex justify-content-center align-items-center">
    <div class="card p-3" style="max-width: 450px">
        <vc:dealer-component user="@ViewBag.User"></vc:dealer-component>
    </div>
</div>
