@model Realitky.Models.Entity.Request
<form asp-controller="Root" asp-action="Detail2" id="this-form">
    <input asp-for="IdOffer" type="hidden" value="@ViewBag.Offer.Id" />
    <input asp-for="name" id="ask-n" type="text" placeholder="Jméno a příjmení" required>
    <input asp-for="phone" id="ask-t" type="tel" placeholder="Telefon" required>
    <input asp-for="email" id="ask-e" type="email" placeholder="E-mail" required>
    <textarea asp-for="text" id="ask-m" placeholder="Napište nám zprávu..."></textarea>
    <input type="submit" id="ask-b" class="btn" value="ODESLAT POPTÁVKU" style="padding: 10px;">
</form>