@using Realitky.Models.Entity
@{
    User dealer = this.ViewBag.Dealer;
}

<div id="seller">
    <div id="seller-card" class="my-row">
        <img src='./../../assets/@dealer.avatar'>
        <div class="my-col">
            <h2>@dealer.name</h2>
            <a id="i-mail" href="mailto:@dealer.email">@dealer.email</a>
            <a id="i-tel" href="tel:@dealer.phone">@dealer.phone</a>
        </div>
    </div>
</div>
