<main class="margin">
    <div class="margin-2">
        <div id="preview">
            <image id="pre-selected" src="./../../assets/home-img-03-442-280.jpg" />
            <div id="pre-grid">
                <div class="cover" style="--url: url('./../../assets/home-img-01-442-280.jpg');"></div>
                <div class="cover" style="--url: url('./../../assets/home-img-02-442-280.jpg');"></div>
                <div class="cover" style="--url: url('./../../assets/home-img-04-442-280.jpg');"></div>
                <div class="cover" style="--url: url('./../../assets/home-img-05-370x250.jpg');"></div>
                <div class="cover" style="--url: url('./../../assets/home-img-06-370x250.jpg');"></div>
                <a href="" id="pre-more" class="cover dark center" style="--url: url('./../../assets/home-img-07-370x250.jpg');">
                    <span>dalších 23 fotek</span>
                </a>
            </div>
        </div>
        <div id="properties">
            <div id="prop-R" class="my-col">
                <div class="l-mb">
                    <h1>Prodej bytu 260m² s pozemkem 108 m²</h1>
                    <h2>Mezilesí, Praha 9 - Prosek</h2>
                </div>
                <div class="l-mb my-col">
                    <div id="p-price">6 995 000 Kč</div>
                    <div id="p-label">za nemovitost</div>
                </div>
            </div>
            <div id="prop-L" class="my-row">
                <div id="bedge-energy" class="my-row">
                    <span>Energetická třída</span>
                    <span id="C">C</span>
                </div>
                <a id="p-calc" href="">spočítat hypotéku</a>
            </div>
        </div>
        <div>
            <p id="description">
                Exkluzivně nabízíme prostorný, výborně řešený byt 3+1/L o celkové výměře 81 m2 (včetně lodžie plus sklep), který se nachází ve 4.NP zatepleného zrekonstruovaného domu, v příjemné a klidné lokalitě Praha 9 – Horní Počernice.<br>
                Byt má zděnou koupelnu s vanou a samostatné WC, vstupní předsíň, dvě ložnice o výměře 12,6 m2 a 12,5 m2, obývací pokoj 22 m2 a kuchyň s jídelnou o výměře 12,4 m2. Na jižně orientovanou lodžii je vstup z obývacího pokoje a je z ní hezký výhled do otevřeného prostoru a na dětské hřiště. Ložnice jsou orientované na severní stranu.<br>
                Na podlaze je dlažba, laminátová plovoucí podlaha a koberec, okna jsou plastová se žaluziemi.<br>
                Byt je vybaven kuchyňskou linkou na míru s vestavěnou elektrickou troubou a sklokeramickou varnou deskou, vestavěnými skříněmi v předsíni a v ložnici. Další vybavení bytu může po dohodě také zůstat.<br>
                K bytu náleží sklepní kóje cca 4 m2 a lze využívat kočárkárnu/kolárnu umístěnou v přízemí domu.<br>
                Měsíční poplatky jsou pro čtyřčlennou rodinu cca 5 300,- včetně fondu oprav, který je ve výši 1 000,-Kč. Výborně fungující SVJ je pouze jeden vchod domu o jedenácti bytových jednotkách. SVJ není zatíženo žádným úvěrem.<br>
                Poloha zrekonstruovaného zatepleného panelového domu je velice výhodná. Přímo u domu je Penny Market a lékárna, v pěším dosahu je pak veškerá občanská vybavenost – MŠ, ZŠ, SOŠ, lékaři, obchody, restaurace, divadlo, několik dětských hřišť a sportovišť. K větším procházkám a sportovnímu vyžití Vás naláká Klánovický les. Stanice metra B – Černý Most je vzdálena jednu cca 1,2 KM od domu a na metro se tak můžete dostat i pěšky nebo pohodlně dojet autobusem za 3 minuty. <br>
                Nemovitost doporučuji pro pohodlné, klidné rodinné bydlení.
                Osobní vlastnictví s možností financování hypotékou, kterou Vám rádi pomůžeme vyřídit.
            </p>
            <div id="tables">
                <table class="info-table">
                    <tr>
                        <th>Konstrukce budovy</th>
                        <td>panelová</td>
                    </tr>
                    <tr>
                        <th>Stav budovy</th>
                        <td>dobrý</td>
                    </tr>
                    <tr>
                        <th>Vlastnictví</th>
                        <td>osobní</td>
                    </tr>
                    <tr>
                        <th>Stav bytu</th>
                        <td>po rekonstrukci</td>
                    </tr>
                    <tr>
                        <th>Užitná plocha bytu</th>
                        <td>41 m<sup>2</sup></td>
                    </tr>
                </table>

                <table class="info-table">
                    <tr>
                        <th>Počet podlaží budovy</th>
                        <td>7 podlaží</td>
                    </tr>
                    <tr>
                        <th>Podlaží bytu</th>
                        <td>3. NP</td>
                    </tr>
                    <tr>
                        <th>Vybavení</th>
                        <td>částečně zařízený</td>
                    </tr>
                    <tr>
                        <th>Lodžie</th>
                        <td>ano</td>
                    </tr>
                    <tr>
                        <th>Připojení k internetu</th>
                        <td>UPC</td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="contact2">
            <div id="seller">
                <h1>Kontaktujte prodejce</h1>
                <div id="seller-card" class="my-row">
                    <img src='./../../assets/user-lisa-evans-80x80.jpg'>
                    <div class="my-col">
                        <h2>Ing. Jarmila Vostrá</h2>
                        <a id="i-mail" href="mailto:jarmila@vostra.cz">jarmila@vostra.cz</a>
                        <a id="i-tel" href="tel:+420666777888">+420 666 777 888</a>
                    </div>
                </div>
                <div id="seller-badges" class="my-row">
                    <div class="my-col">
                        <img src="./../../assets/badge-1.png" sizes="">
                        <span>Makléř roku<br>2020</span>
                    </div>
                    <div class="my-col">
                        <img src="./../../assets/bedge-2.png">
                        <span>Cena zákazníků<br>2021</span>
                    </div>
                </div>
            </div>
            <div id="ask">
                <h1>Napište nám, ozveme se</h1>
                <form method="post">
                    <input id="ask-n" type="text" placeholder="Jméno a příjmení" required>
                    <input id="ask-t" type="tel" placeholder="Telefon" required>
                    <input id="ask-e" type="email" placeholder="E-mail" required>
                    <textarea id="ask-m" placeholder="Napište nám zprávu..."></textarea>
                    <input id="ask-b" class="btn" type="submit" value="ODESLAT POPTÁVKU">
                </form>
            </div>
        </div>
    </div>
</main>
<div id="map">
    <iframe style="border:none" src="https://frame.mapy.cz/s/favovecore"></iframe>
</div>