/*Reset*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
a, button, input{all: unset;}

/*HELPERS*/
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.m-1{
    margin: 1em;
}

.cover{
    /*BG*/
    background-image: var(--url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; /*for dark*/
}

/*text*/
h1{color: #434345}
h2{color: #ff8600}
h3{color: #434345}
p{color: black}

/*OFFERS*/
#offers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;

    margin-top: 10px;
}
#offers a div.cover{
    height: 200px;
}
/*#offers a {display: inline-block;}*/
#offers h2{
    color: #ff8600;
    font-size: 1.8em;
    font-weight: bold;
    /*margin-bottom: 100px;*/
}
.col{ display: flex; flex-direction: column; }
#offers .col{
    gap: 8px;
    padding-top: 15px;
}
#offers h3{
    color: #434345;
    font-size: 1.3em;
}
#offers p{/*font-weight: bold;*/}

#offers-wrap .btn{
    font-size: 1.2em !important;
    padding: 20px;

    margin-top: 20px;
}

/*Like button*/
#like{
    position: absolute; /* Position relative to the card */
    top: 10px; /* Adjust these values as needed */
    right: 10px;
    z-index: 10; /* Ensures the button is above other elements */
    
    padding: 5px; /* Padding around the text */
    cursor: pointer; /* Changes cursor on hover */

    /*background-color: rgba(255, 255, 255, 0.2); !* Background color *!*/
    /*border-radius: 5px; !* Rounded corners *!*/
    /*text-decoration: none; !* Removes underline from links *!*/
}
#like:hover svg *{
    fill: gold;
    stroke: gold;
}

#like .icon{
    width: 24px;
    height: 24px;
    fill:none; 
    stroke:currentColor; 
    stroke-width: 2;
    stroke-linecap:round; 
    stroke-linejoin:round;
    viewBox: 0 0 24 24;
}

.card{
    position: relative;
}